build
pretrained
*.so
*.pyc
*.egg-info
tracker/__pycache__
data
# tracker/tracking_utils/__pycache__
# /yolox/*
# /pretrained/*
# /YOLOX_outputs/
# /runs/
# /.idea/
# *.pyc
# /tools/private
# wandb/
# *egg-info*
# fast_reid/datasets/MOT17-ReID
# *.so
# yolox/data/__pycache__/*
